<div class="col-4 col-12-medium">
    <div id="sidebar">
        <section>
            <header class="major">
                <h2>Приветсвуем!</h2>
            </header>
            <p>БЛА-БЛА-БЛА</p>
            <footer>
                <a asp-area="" asp-controller="Services" asp-action="Index" class="button icom">
                    Перейти к услугам
                </a>
            </footer>
        </section>
    </div>
</div>