<div class="col-4 col-12-medium">
    <div id="sidebar">
        <section>
            <header class="major">
                <h2>Приветсвуем!</h2>
            </header>
            <p>OASIS — ваш надежный партнер в мире роскошной недвижимости Дубая. Мы специализируемся на продаже и строительстве современных апартаментов, идеально сочетающих стиль, комфорт и передовые технологии.
                Наша миссия — воплощать мечты клиентов в реальность, создавая жилые пространства, которые отражают ваш стиль жизни. Мы предлагаем широкий выбор объектов недвижимости, от уютных квартир с видом на море до элитных пентхаусов в сердце города.</p>
            <footer>
                <a asp-area="" asp-controller="Services" asp-action="Index" class="button icom">
                    Перейти к услугам
                </a>
            </footer>
        </section>
    </div>
</div>